.float-right{
	float: right;
}

.input{
	width: 100%;
}

.boton:active{
 transform: perspective(600px) translateZ(-75px) rotateZ(-0.5deg) rotateX(-10deg); /* Creo el efecto de hundimiento para el botón */
}

i.icon{
	font-size: 1.50em;
	cursor: pointer;
}

#root{
	padding-bottom: 50px;
}